body {
    background-image:url("https://dl.dropbox.com/s/z93vaufz61mwi2y/FEdH.gif");
}


.main{
    width:70%;
    height:4000px;
    border:6px solid;
    position:relative ;
    margin:auto ;
    top:30px;
    border-radius:9px;
    background-image: linear-gradient(yellow, #f4baff, #4ccafc);
    animation:a 4s linear infinite ;
}

@keyframes a{
    30%{top:90px;}
    30%{top:90px;}
    30%{top:90px;}
}

#pro{
    width:310px;
    height:210px;
    border-radius:60px;
    position:relative ;
    top:30px;
}

#x{
    color:white;
    position:relative ;
    top:50px;
    font-size: 50px;
}

p{
    color:black;
    position:relative ;
    font-weight:bold;
    font-size:50px;
    -webkit-text-stroke:0.5px #000;
    top:13px;
    left:9px;
}
