body {
    background-image:url("https://dl.dropbox.com/s/z93vaufz61mwi2y/FEdH.gif");
}


.main{
    width:90%;
    height:425px;
    border:6px solid;
    position:relative ;
    margin:auto ;
    top:30px;
    border-radius:10px;
     border-color: #ff3300;
    background-image: linear-gradient(yellow, #f4baff, #4ccafc);
    animation:a 6s linear infinite ;
}

@keyframes a{
   30%{top:90px;}
    30%{top:90px;}
    30%{top:90px;}
}

#pro{
    width:310px;
    height:210px;
    border-radius:60px;
    position:relative ;
    top:30px;
}

#x{
    color:#ff4570;
    position:relative ;
    top:50px;
    font-size: 50px;
}

p{
    color:write;
    position:relative ;
    font-weight:bold;
    font-size:40px;
    top:13px;
    left:9px;
}
#bod{
    color:#ffffff;
    position:relative ;
    font-weight:bold;
    font-size:30px;
  }
#ballons{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
}

 #to{
    color:#f22e83;
       font-size:19px;
    text-align: center;
 }
.neonText {
 color: lightgreen; 

}




/* Additional styling */
  
h2 {
 font-size: 1.8rem;
}
.container {
  margin-top: 20vh;
}

body {
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #010a01;
}  

h1, h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
