body {
    
}

.main{
    width:120%;
    height:90px;
    border:2px solid;
    position:relative ;
    margin:auto ;
    top:50px;
    border-radius:8px;
    background:linear-gradient(to right,rgb(206, 13, 245),rgb(242, 250, 128));
    animation:a 1s linear infinite ;
}

@keyframes a{
    30%{top:40px;}
    40%{top:90px;}
    30%{top:100px;}
}

#pro{
    width:110px;
    height:110px;
    border-radius:60px;
    position:relative ;
    top:30px;
}

#x{
    color:white;
    position:relative ;
    top:20px;
}

p{
    color:white;
    position:relative ;
    font-weight:bold;
    font-size:56px;
    -webkit-text-stroke:0.5px #000;
    top:13px;
    left:5px;
}
